@charset "UTF-8";
body {  
    background-color:#79B9CC; 
    background-size: 100%;  
    background-repeat: no-repeat;  
}

#frame {
	width: 50%;
	height: 50%;
  	margin: auto;
  	padding: 8%;  
  	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73A4B2;  
  
    border-radius: 10px;  
    text-align: center;  
    
}

#register {
	font-size: 14px;  
    font-family: "Comic Sans MS", cursive, sans-serif; 
    line-height: 20px;  
    text-align: center;     
    margin:auto;
}

.button {
	
	background-color: #B26A80;
	font-size: 14px;  
    font-family: "Comic Sans MS", cursive, sans-serif; 
    line-height: 28px;  
    text-align: center;     
    margin:auto;
    
    border: 1px solid #FFF251;
    padding: 5px 10px;
	
  	width: 80%;
            height: 1%;
            padding: 0.01%;
            margin: 1%;
   	border-radius: 10px;  
    text-align: center;
	
}